<div class="content-section implementation">
    <div class="card">
        <p-tabView>
            <p-tabPanel header="Admin1">
                <olib-auth-menu></olib-auth-menu>
            </p-tabPanel>
            <p-tabPanel header="Admin2">
                <olib-auth-menu></olib-auth-menu>
            </p-tabPanel>
            <p-tabPanel header="User">
                <olib-auth-menu></olib-auth-menu>
            </p-tabPanel>
            <p-tabPanel header="Guest">
                <olib-auth-menu></olib-auth-menu>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
