<div class="row">
    <div class="col-2">
       <olib-chart-text-sample status="info"></olib-chart-text-sample>
       <olib-chart-text-sample status="warning"></olib-chart-text-sample>
       <olib-chart-text-sample status="danger"></olib-chart-text-sample>
       <olib-chart-text-sample status="primary"></olib-chart-text-sample>
       <olib-chart-text-sample status="success"></olib-chart-text-sample>
       <olib-chart-text-sample></olib-chart-text-sample>
       
    </div>
    <div class="col-10">
        <div class="row">
            <div class="col-md-12">
                <nb-card>
                    <nb-card-header>Dynamic Line Chart</nb-card-header>
                    <olib-chart-line-sample></olib-chart-line-sample>
                </nb-card>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <nb-card>
                    <nb-card-header>Static Pie Chart</nb-card-header>
                    <olib-chart-pie-sample ></olib-chart-pie-sample>
                </nb-card>
            </div>
            <div class="col-6">
                <nb-card>
                    <nb-card-header>Dynamic Pie Chart</nb-card-header>
                    <olib-chart-pie-sample2></olib-chart-pie-sample2>
                </nb-card>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <nb-card>
                    <nb-card-header>Static Bar Chart</nb-card-header>
                    <olib-chart-bar-sample></olib-chart-bar-sample>
                </nb-card>
            </div>
            <div class="col-6">
                <nb-card>
                    <nb-card-header>Dynamic Bar Chart</nb-card-header>
                    <olib-chart-bar-sample2></olib-chart-bar-sample2>
                </nb-card>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <nb-card>
                    <nb-card-header>Table Sample</nb-card-header>
                    <olib-table-smart-sample></olib-table-smart-sample>
                </nb-card>
            </div>
        </div>
    </div>
</div>