<!-- <div class="content-section introduction">
    <div class="feature-intro">
        <h1>Search</h1>
    </div>
</div> -->
<div class="content-section implementation">
    <div class="card">
        <p-tabView>
            <p-tabPanel header="Text">
                <div class="p-field p-grid">
                    <label class="p-col-fixed" style="width:100px">Search</label>
                    <div class="p-col">
                        <span class="p-float-label">
                            <input id="float-input" class="" type="text" pInputText [(ngModel)]="search" />
                            <label for="float-input">Search</label>
                        </span>
                    </div>
                    <button pButton pRipple type="button" label="Search" class=""></button>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Date">
                <div class="p-field p-grid">
                    <label class="p-col-fixed" style="width:100px">Date Range</label>
                    <div class="p-col">
                        <p-calendar [locale]="kr" [yearNavigator]="true" [monthNavigator]="true"yearRange="2020:2030" dateFormat="yy-mm-dd"></p-calendar>
                        <span class="p-ml-2 p-mr-2">~</span>
                        <p-calendar [locale]="kr" [yearNavigator]="true" [monthNavigator]="true"yearRange="2020:2030" dateFormat="yy-mm-dd"></p-calendar>
                    </div>
                    <button pButton pRipple type="button" label="Search" class=""></button>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Dropdown">
                <div class="p-field p-grid">
                    <label class="p-col-fixed" style="width:100px">Dropdown</label>
                    <div class="p-col">
                        <p-dropdown [options]="cities"  optionLabel="name" [style]="{'width':'150px'}"></p-dropdown>
                    </div>
                    <button pButton pRipple type="button" label="Search" class=""></button>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>

<div class="content-section documentation">
    <div class="card">
        
        <p-table 
        [columns]="cols" 
        [value]="cars" 
        [paginator]="true" 
        [rows]="5" 
        [rowHover]="true"
        [rowsPerPageOptions]="[10,20,30]" 
        [showCurrentPageReport]="true"  
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                            {{car[col.field]}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
            </ng-template>
        </p-table>
        
        <div class="p-d-flex p-mt-3">
            <button pButton type="button" label="Primary" class="p-mr-1"></button>
            <button pButton type="button" label="Secondary" class="p-button-secondary p-mr-1"></button>
            <button pButton type="button" label="Success" class="p-button-success p-mr-1"></button>
            <button pButton type="button" label="Info" class="p-button-info p-mr-1"></button>
            <button pButton type="button" label="Warning" class="p-button-warning p-mr-1"></button>
            <button pButton type="button" label="Help" class="p-button-help p-mr-1"></button>
            <button pButton type="button" label="Danger" class="p-button-danger"></button>
        </div>
    </div>
</div>