<div class="content-section implementation">
        <div class="p-grid p-formgrid p-fluid p-mt-6">
            <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
            </div>
            <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
                <div class="card">
                    <div class="p-text-center">
                        <h1>Login</h1>
                    </div>
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText />
                        <label for="float-input">ID</label>
                    </span>
                    <div class="p-m-5"></div>
                    <span class="p-float-label">
                        <input id="float-input" class="" type="password" pInputText />
                        <label for="float-input">PASSWORD</label>
                    </span>
                    <div class="p-fluid p-mt-5">
                        <button pButton pRipple type="button" label="Login" class="p-button-rounded"></button> 
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
            </div>
        </div>
</div>

